allure-pytest==2.16.0
allure-python-commons==2.16.0
attrs==26.1.0
iniconfig==2.3.0
krkn-lib==5.0.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==26.3
pluggy==1.6.0
Pygments==2.21.0
pytest==9.1.1
pytest-html==4.2.0
pytest-metadata==3.1.1
PyYAML==6.0.1
